# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Certificates
*.pfx

# Logs
*.log

# Excel temporary files
~$*.xlsx
~$*.xls
~$*.xlsm

# NuGet packages
packages/

# Test adapters / SDK artifacts
**/TestAdapter/
**/TestResults/
"packages/" 
